.PostListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    margin-top: 2rem;
    justify-items: center;

    .PostCardContainer{
        width: 100%;
        max-width: 315px;
        background: #fff;
        border-radius: 1rem;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        display: flex;
        flex-direction: column;
        transition: transform 0.2s ease;
        height: 100%;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            transform: translateY(-5px);
        }

        .PostCard__header{
            display: flex;
            flex-direction: column;
            position: relative;

            .PostCard__image{
                width: 315px;
                height: 200px;
                border-top-left-radius: 1rem;
                border-top-right-radius: 1rem;
            }

            .avatar{
                width: 40px;
                height: 40px;
                position: absolute;
                top: 70%;
                left: 13px;
            }

            .PostUserName{
                margin-top: 2rem;
                padding: 0 13px;
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }

        .PostCard__preview{
            padding: 0 13px;

            .PostTitle{
                font-size: 1.25rem;
                font-weight: 600;
                line-height: 1.4;
                font-family: 'Poppins', sans-serif;
                max-height: 3.6em; 
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }

            .PostContent{
                font-family: 'Poppins', sans-serif;
                font-size: 13px;
                font-weight: 400;
            }
        }

        .PostCreatedAt {
            text-align: right;
            padding: 0 13px;
            margin-bottom: 1rem;
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 12px;
        }
    }
    
    .CreatePost {
        z-index: 1;
        position: fixed;
        right: 4%;
        cursor: pointer;
        border-radius: 9px;
        border: 2px solid #a52a2a;
        padding: 10px;
        background: transparent;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
        transition: transform 0.2s ease;

         &:hover {
            transform: scale(1.1);
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
        }

        @media (max-width: 768px){
            padding: 2px;
            background-color: #fff;
        }
    }

    .PostFormContainer{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

            @media (max-width: 768px){
                height: 100%;
            }

        .PostForm{
            background-color: #fff;
            padding: 2rem;
            border-radius: 12px;
            width: 100%;
            max-width: 500px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
            z-index: 1001;
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 1rem;
            
            @media (max-width: 768px){
                height: 100%;
                width: 87%;
            }

        .PostFormTitle {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 30px;
            color: #a52a2a;
        }

        .PostFormTextArea{
            height: 300px;
        } 

        .PostFormInput,
        .PostFormTextArea{
            padding: 0.5rem 1rem;
            border-radius: 12px;
            border: 2px solid #e0d4d4;
            font-family: 'Poppins', sans-serif;
            font-size: 14px;
            font-weight: 400;
            color: #000;

            &:focus{
                border: 2px solid #a52a2a;
                outline: unset;
            }
        }

        .PostForm__actions {
            display: flex;
            gap: 2rem;

            .cancel,
            .submit {
                padding: 0.5rem 2rem;
                background: transparent;
                border-radius: 12px;
                border: 2px solid #a52a2a;
                color: #a52a2a;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;

                &:hover{
                    background-color: #a52a2a;
                    color: #fff;
                }
            }
        }
        }
    }
    


    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
}
.PostCardLink{
    text-decoration: none;
    color: unset;
}

.PostActionsMenu{
    position: relative;

    &__button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .PostActionsMenu__dropdown{
        position: absolute;
        top: 100%;
        right: 0;
        background-color: #fff;
        padding: 0.5rem 1rem;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border: none;
        cursor: pointer;

            .PostActionsMenu__option {
                background: transparent;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
            }
    }

    .confirmModal{
        background-color: #fff;
        border-radius: 12px;
        width: 100%;
        max-width: 300px;
        box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
        z-index: 1001;
        position: relative;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        gap: 1rem;

        p {
            margin: 0;
        }

        .actions{
            display: flex;
            gap: 2rem;

            button {
                padding: 0.5rem 2rem;
                background: transparent;
                border-radius: 12px;
                border: 2px solid #a52a2a;
                color: #a52a2a;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;

                &:hover{
                    background-color: #a52a2a;
                    color: #fff;
                }
            }
        }
    }

    .overlay{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1000;
    }
   
}

     .successMessage {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 1rem;
        margin: 0;
        background-color: #27cb1c;
        font-family: 'Poppins', sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
        font-weight: bold;
        z-index: 9999;
        animation: slideDownFade 0.3s ease-out;
        width: 100%;

        @keyframes slideDownFade {
            0% {
                transform: translateY(-100%);
                opacity: 0;
            }
            100% {
                transform: translateY(0%);
                opacity: 1;
            }
        }
    }

    .PostForm {
            width: 100%;
            display: flex;
            flex-direction: column;

            .PostFormTitle {
                margin: 0;
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 30px;
                color: #a52a2a;
                margin-bottom: 1rem;
            }

            .PostForm__label{
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                margin: 0;
                padding: 0.5rem 0;
                font-size: 14px;
            }

            .PostFormTextArea{
                height: 300px;
            } 

            .PostFormInput,
            .PostFormTextArea{
                padding: 0.5rem 1rem;
                border-radius: 12px;
                border: 2px solid #e0d4d4;
                font-family: 'Poppins', sans-serif;
                font-size: 14px;
                font-weight: 400;
                color: #000;
                margin-bottom: 1rem;

                &:focus{
                    border: 2px solid #a52a2a;
                    outline: unset;
                }
                }

            .PostForm__actions {
                display: flex;
                gap: 2rem;

                .cancel,
                .submit {
                    padding: 0.5rem 2rem;
                    background: transparent;
                    border-radius: 12px;
                    border: 2px solid #a52a2a;
                    color: #a52a2a;
                    font-family: 'Poppins', sans-serif;
                    font-size: 14px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover{
                        background-color: #a52a2a;
                        color: #fff;
                    }
                }
            }
        }



    .errorLabel,
    .noPostLabel {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        min-height: 2rem;
        width: 100%;
        height: 100vh;
        font-family: 'Poppins', sans-serif;
    }